.list {
  margin: 10px 0px;
  padding: 0;
  display: flex;
  flex-direction: row;
  > li {
    div > div > span {
      width: 24px;
      height: 24px;
      text-align: center;
    }
  }
}
.arrowList{
  visibility: hidden;
}