.stages {
  overflow-y: auto;
}

.pagination {
  box-sizing: border-box;
  > div {
      max-width: 80vw;
      overflow-x: scroll;
  }
  ul {
    width: max-content;
    display: flex;
    flex-direction: row;
    li {
      min-width: 250px;
      width: max-content;
    }
  }
}
